<div class="container">
<h1>Participantes</h1>
<table class="striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>Status</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @participantes.each do |participante| %>
      <tr>
        <td><%= participante.nome %></td>
        <td><%= participante.matricula %></td>
        <% if (participante.status == true) %>
              <td><i class="fa fa-check-circle fa-2x status-ok"> </i></td>
        <% end %>
        <td><%= participante.grupo.nome %> <td>
        <td><%= link_to 'Show', participante %></td>
        <td><%= link_to 'Edit', edit_participante_path(participante) %></td>
        <td><%= link_to 'Destroy', participante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Participante', new_participante_path %>
